{% extends 'base.html' %}


{% block title %}
Wybierz klasę
{% endblock %}


{%block content %}

<div class="niezalogowany">
  Jesteś zalogowany <font color="blue"> {{ user.username }}!</font>
      Witaj {{ user.first_name}}
  </div>
{% if messages %}

   {% for message in messages %}
            <div class="container-fluid p-0">
              <div class="alert alert-success {{ message.tags }} fixed-bottom text-center " role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                {{ message }}
              </div>
            </div>
        {% endfor %}

{% endif %}

{% if all_klas_count > 0 %}

    {% if checkstat or not statusdate %}
        <div class="niezalogowany">
           <div align="center" class="alert alert-danger w-100 p-3 h-25">
               <button>Zablokowano wybór klasy</button>
            </div>
        </div>
    {% else %}
    <div >
        <form action="{% url 'zapisz-page' %}">


                {% csrf_token %}
                 <select  name="klass" >
                     {% for klasa in all_klas  %}
                     <option value= {{ klasa.id }}>{{klasa.name}} {{ klasa.school.name}}</option>
                     {% endfor %}
                 </select>
                <input type="submit" value="Zapisz" >
        </form>
    </div>
    {% endif %}
{% endif %}
{% if all_klas_count == 0 %}
    Zaczekaj na wprowadzenie klas do systemu
{% endif %}
{% endblock %}