{% extends "base.html" %}

{%block title %}

{% endblock %}


{%block content %}


        <!-- upload form. Note enctype attribute! -->
        <p>Plik powinien zawierać w odpowiedniej kolejności: hasło, login,  pierwsze i drugie imię, nazwisko, email oraz  pesel</p>
        <form action="{% url 'uploadfile-page' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>
            <p><input type="submit" value="Wyślij" /></p>
        </form>



{% endblock %}