{% extends 'base1.html' %}



{% block title %}
Zmień dane użytkownika
{% endblock %}


{%block content %}


<div class="niezalogowany">
  Jesteś zalogowany <font color="blue"> {{ user.username }}!</font>
      Witaj {{ kandydat.user.first_name}}
  </div>
<div class="niezalogowany">
<form  method = 'POST' enctype="multipart/form-data">
        {% csrf_token %}


        <table>
            {{ form.as_table }}
        </table>
        <button type="submit" >Wyślij</button>
    </form>
</div>
{% endblock %}