
p {
  color: orangered;
  font-size: 15px;
   padding-left:18px;
  }

.niezalogowany{
  color: green;
  font-size: 15px;
  padding-left: 18px;
}


.niezalogowany_red{
  color: orangered;
  font-size: 15px;
  padding-left: 18px;
}



.niezalogowany_nag{
  color: blue;
  font-size: 25px;
  padding-left: 18px;

}


.bgpage{
  background-color: #d1f0bb;
}

